@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
    <label for="input">Enter your url:</label>
    <input type="text" id="url" name="url" />
    <button type="submit">Submit</button>
</form>
<br />

Response from server:

 @if (ViewData["Message"] != null)
{
    <div>@ViewData["Message"]</div>
}

<table>
    <tr>
        <th>Source</th>
        <th>Data</th>
    </tr>
    <tr>
        <td>Response from Server</td>
        <td>@ViewData["Message"]</td>
    </tr>
    <tr>
        <td>Response from Cosmos DB</td>
        <td> @Model.Settings.Message</td>
    </tr>
    <tr>
        <td>Response from Application Configuration Service</td>
        <td>@Model.Settings.Message</td>
    </tr>
    <tr>
        <td>Response from Secret Store</td>
        <td>@ViewData["Secret"]</td>
    </tr>
    <!-- Add more rows as needed -->
</table>

 
 